<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="de.innot.avreclipse.debug.lcTypeAVRGDBHardware">
<intAttribute key="de.h_da.eit.mit.avroraserver.port" value="1212"/>
<booleanAttribute key="de.h_da.eit.mit.avroraserver.usart0" value="false"/>
<booleanAttribute key="de.h_da.eit.mit.avroraserver.usart2" value="false"/>
<stringAttribute key="de.innot.avreclipse.debug.core.avarice.command" value="avarice"/>
<booleanAttribute key="de.innot.avreclipse.debug.core.avarice.debugwire" value="false"/>
<stringAttribute key="de.innot.avreclipse.debug.core.avarice.hostname" value="localhost"/>
<booleanAttribute key="de.innot.avreclipse.debug.core.avarice.ignoreintr" value="true"/>
<stringAttribute key="de.innot.avreclipse.debug.core.avarice.interface" value="--dragon"/>
<stringAttribute key="de.innot.avreclipse.debug.core.avarice.jtagbitrate" value=""/>
<stringAttribute key="de.innot.avreclipse.debug.core.avarice.jtagport" value="usb"/>
<stringAttribute key="de.innot.avreclipse.debug.core.avarice.otheroptions" value=""/>
<intAttribute key="de.innot.avreclipse.debug.core.avarice.port" value="4242"/>
<booleanAttribute key="de.innot.avreclipse.debug.core.avarice.verbose" value="false"/>
<stringAttribute key="de.innot.avreclipse.debug.core.gdbserverID" value="de.innot.avreclipse.debug.gdbservers.avarice"/>
<stringAttribute key="de.innot.avreclipse.debug.core.remote.hostname" value="localhost"/>
<intAttribute key="de.innot.avreclipse.debug.core.remote.port" value="4242"/>
<booleanAttribute key="de.innot.avreclipse.debug.core.setResume" value="true"/>
<stringAttribute key="de.innot.avreclipse.debug.core.simulavr.command" value="simulavr"/>
<stringAttribute key="de.innot.avreclipse.debug.core.simulavr.fcpu" value="1000000"/>
<stringAttribute key="de.innot.avreclipse.debug.core.simulavr.hostname" value="localhost"/>
<stringAttribute key="de.innot.avreclipse.debug.core.simulavr.mcutype" value="atmega16"/>
<intAttribute key="de.innot.avreclipse.debug.core.simulavr.port" value="1212"/>
<booleanAttribute key="de.innot.avreclipse.debug.core.simulavr.verbose.debug" value="false"/>
<booleanAttribute key="de.innot.avreclipse.debug.core.simulavr.verbose.gdbserver" value="false"/>
<booleanAttribute key="org.eclipse.cdt.debug.gdbjtag.core.doReset" value="false"/>
<stringAttribute key="org.eclipse.cdt.debug.gdbjtag.core.ipAddress" value="localhost"/>
<stringAttribute key="org.eclipse.cdt.debug.gdbjtag.core.jtagDevice" value="Generic TCP/IP"/>
<booleanAttribute key="org.eclipse.cdt.debug.gdbjtag.core.loadImage" value="false"/>
<intAttribute key="org.eclipse.cdt.debug.gdbjtag.core.portNumber" value="4242"/>
<booleanAttribute key="org.eclipse.cdt.debug.gdbjtag.core.setResume" value="true"/>
<booleanAttribute key="org.eclipse.cdt.debug.gdbjtag.core.setStopAt" value="false"/>
<stringAttribute key="org.eclipse.cdt.debug.gdbjtag.core.stopAt" value=""/>
<booleanAttribute key="org.eclipse.cdt.debug.gdbjtag.core.useProjBinaryForSymbols" value="true"/>
<booleanAttribute key="org.eclipse.cdt.debug.gdbjtag.core.useRemoteTarget" value="true"/>
<stringAttribute key="org.eclipse.cdt.debug.mi.core.DEBUG_NAME" value="avr-gdb"/>
<stringAttribute key="org.eclipse.cdt.debug.mi.core.commandFactory" value="Standard"/>
<stringAttribute key="org.eclipse.cdt.debug.mi.core.protocol" value="mi"/>
<booleanAttribute key="org.eclipse.cdt.debug.mi.core.verboseMode" value="true"/>
<stringAttribute key="org.eclipse.cdt.dsf.gdb.DEBUG_NAME" value="avr-gdb"/>
<intAttribute key="org.eclipse.cdt.launch.ATTR_BUILD_BEFORE_LAUNCH_ATTR" value="2"/>
<stringAttribute key="org.eclipse.cdt.launch.DEBUGGER_ID" value="org.eclipse.cdt.debug.mi.core.CDebuggerNew"/>
<stringAttribute key="org.eclipse.cdt.launch.DEBUGGER_START_MODE" value="run"/>
<booleanAttribute key="org.eclipse.cdt.launch.DEBUGGER_STOP_AT_MAIN" value="true"/>
<stringAttribute key="org.eclipse.cdt.launch.PROGRAM_NAME" value="Debug/Test.elf"/>
<stringAttribute key="org.eclipse.cdt.launch.PROJECT_ATTR" value="Test"/>
<booleanAttribute key="org.eclipse.cdt.launch.PROJECT_BUILD_CONFIG_AUTO_ATTR" value="false"/>
<stringAttribute key="org.eclipse.cdt.launch.PROJECT_BUILD_CONFIG_ID_ATTR" value="de.innot.avreclipse.configuration.app.debug.8094786"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Test"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<stringAttribute key="process_factory_id" value="org.eclipse.cdt.dsf.gdb.GdbProcessFactory"/>
</launchConfiguration>
